<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bus21">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bus21">
        <activity
            android:name=".LoadingScreen"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PaymentProcess"
            android:exported="false" />
        <activity
            android:name=".BookingSheet"
            android:exported="false" />
        <activity
            android:name=".sDashboard"
            android:exported="false" />
        <activity
            android:name=".cDashboard"
            android:exported="false"
            android:label="@string/title_activity_cdashboard"
            android:theme="@style/Theme.Bus21.NoActionBar" />
        <activity
            android:name=".Payment"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD4KfDcLVjVPatpIKtrPXot024Z4UHVZQ8" />

        <activity
            android:name=".Dashboard"
            android:exported="true"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/Theme.Bus21.NoActionBar" />
        <activity
            android:name=".Register"
            android:exported="true" />
        <activity
            android:name=".Process"
            android:exported="true" />
        <activity android:name=".KotlinQuickStartActivity" />
        <activity android:name=".OrdersQuickStartActivity" />
        <activity android:name=".PaymentButtonQuickStartActivity" />
        <activity android:name=".token.TokenQuickStartActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">

        </activity>
    </application>

</manifest>